.container{
    background-color: tomato;
    border:2px solid seagreen; 
height: 700px;
width: 1350px;
}
.box{
    border: 2px solid chocolate;
    background-color: chartreuse;
    width: 100px;
    height: 130px;
    animation-name: sunny1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.anime{
    border: 3px solid lightcoral;
    animation-name: hello;
    animation-duration: 5s;
    animation-iteration-count: 4s;
    height: 250px ;
    width: 250px;
    background-color: crimson;
    position: relative;
}
@keyframes sunny1 {
    from{
        width: 12px;
    }
    to {
        width: 1320px;
    }
}
@keyframes hello {
    0%{
        top:0px;
        left:0px;

    }
    25%{
        top: 500px;
        left:0px;

    }
    50%{
        top: 500px;
        left: 1100px;


    }
    60%{
        top:0px;
        bottom: 500px;
    }
        
    

    100%{
        top: 0px;
        left: 0px;
        
    
}
