#firstpara{
    color:blueviolet;
    background-color: rgb(14, 64, 202); /*color by name */
}
#secondpara{
    color:rgb(233, 14, 167); /*color by rgb name */ 
    font-size: x-large;
}
#thirdpara{
    color: #45c645; /*color by hex value */
    font-size: larger;
}