.container{
    background-color: #ffd4d4;
    border: 2px solid rgb(156, 223, 68);
    padding: 23px 23px;
    margin: 21px auto;
    width: 700px;
}
a{
    text-decoration: none;
}
/* these are pseudo selector  */
a:hover{
    background-color: darkgoldenrod;
    color: deeppink;
}
a:active{
    background-color: rgb(212, 19, 93);
    
}
/* a:visited{
     background-color: turquoise;
}
 */
 button:hover{
     background-color: tomato;
 }
.btn{
    background-color: brown;
    padding: 6px;
    border: none;
    cursor: pointer;
    font-size: small;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif        ;
    
}