p.font1{
    background-color: crimson;
    font-family:Arial;
    
   }
   .font2{
       font-family: 'Open Sans', sans-serif,'Raleway', sans-serif;;
       font-weight: bolder;
       line-height: 4em;
       font-style:italic ;
   }