* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  .section-todo {
    margin-top: 5rem;
    text-align: center;
  }
  
  .form-todo {
    min-height: 5vh;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .form-todo input {
    min-height: 100%;
  }
  .form-todo input[type="text"] {
    width: 78%;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 400;
  }
  .form-todo input[type="submit"] {
    width: 20%;
    background: rgb(44, 55, 63);
    color: white;
    font-weight: bold;
  }
  .todo-list {
    text-align: left;
    font-size: 1.2rem;
    list-style-type: none;
  }
  .todo-list li {
    padding: 0.7rem;
    background: #444;
    color: white;
    margin-top: 1rem;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .todo-btn {
    /* min-height: 100%; */
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  